.cv-download {
	display: block;
	background-color: #17b2ef;
	width: 200px; 
	height: 42px;
	margin: 12px auto 4px auto;
	border-radius: 4px;
	color: #fafafa;
	text-align: center;
	font-size: 1.4em;
	padding: 5px 0 0 0;
	transition: background 200ms ease-in-out;
	&:hover {
		background-color: #10ce9f;
		color: #fff;
	}
}