.headers {
	margin: 140px 0 0 0;
	display: block;
	float: left;
	padding: 10px 0;

	h1 {
		font-size: 2em;
		text-align: center;
		transition: all 0.25s ease-in-out;
		&:hover {
			font-size: 2.1em;
		}
	}

	h2 {
		font-size: 3em;
		text-align: center;
	}

	h3 {
		font-size: 1.5em;
		text-align: center;
	}

}

header {
	width: 100%;
	height: 400px;
	background-color: #00d49f;
	transition: all 0.25s ease-in-out;
}

.profPhoto {
	float: right;
	margin-top: 0;
	border: 10px solid #333;
	border-bottom: 0;
	transition: all 0.25s ease-in-out;
}


/* resolution breakpoints */

/* 920px breakpoint*/
@media only screen and (max-width: 920px) {
	$headerHeight: 250px;
	header {
		width: 100%;
		height: $headerHeight;
		background-color: #00d49f;
	}
	.headers {
		margin: 70px 0 0 0;
		display: block;
		float: left;
		padding: 10px 0;
		h1 {
			font-size: 1.6em;
			text-align: center;
			&:hover {
				font-size: 1.7em;
			}
		}

		h2 {
			font-size: 1.8em;
			text-align: center;
		}

		h3 {
			font-size: 1.3em;
			text-align: center;
		}
	}
	.profPhoto {
		height: ($headerHeight - 5px);
		border: 5px solid #333;
		border-bottom: 0;
	}
}

/* 600px breakpoint*/
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: 400px;
		background-color: #00d49f;
	}
	.headers {
		margin: 0;
		border-top: 1px solid #333;
		float: none;
	}
   .profPhoto {
	   	display: block;
		float: none;
		margin: 0 auto 0 auto;
		padding: 0;
		height: auto;
		width: 260px;
	}
}


/* 480px breakpoint*/
@media only screen and (max-width: 480px) {
	header {
		width: 100%;
		height: 340px;
		background-color: #00d49f;
	}
	h1 {
		font-size: 1.5em;
		text-align: center;
	}

	h2 {
		font-size: 1.7em;
		text-align: center;
	}

	h3 {
		font-size: 1.2em;
		text-align: center;
	}
   .profPhoto {
	   	display: block;
		float: none;
		margin: 0 auto 0 auto;
		padding: 0;
		height: auto;
		width: 200px;
	}
}
